<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/topnav.css"/>
    <link rel="stylesheet" type="text/css" href="/css/checkout.css"/>


</head>
<body>

    <nav class="topnav">
                <a class="navbar-brand  me-auto" href="/"><img src="/imgs/small.png" width="40px" height="40px">  Social Market </a>
                <div>
                    <a class="navbtn" id="signup" href="/visitstore/{{storeID}}" role="button">Back to Store</a>
                    <a class="navbtn" id="login" href="/logout" role="button">Logout</a>
                </div>
    </nav>
    <form method="POST" action="/placeorder" >
  <div class="row" id="checkoutcontent">
    <div class="col-md-6">
    <p>Delivery Information</p>
      <div class="box">
        <div class="content">
             <div class="row">
    <div class="col-md-6">
      <div class="form-group mb-3">
        <label for="streetname">Street Name</label>
        <input type="text" class="form-control" id="streetname" name="streetname" required>
      </div>
      <div class="form-group mb-3">
        
        <label for="housenumber">House Number</label>
        <input type="text" class="form-control" id="housenumber" name="housenumber" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group mb-3">
        <label for="buildingname">Building Name</label>
        <input type="text" class="form-control" id="buildingname" name="buildingname" required>
        
      </div>
      <div class="form-group mb-3">
        <label for="phone">Contact Phone Number</label>
        <input type="tel" class="form-control" id="phone" name="phone" required>
      </div>
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="deliveryinstructions">Delivery Instructions</label>
    <textarea class="form-control" id="deliveryinstructions" name="deliveryinstructions" rows="5"></textarea>
  </div>

        </div>
      </div>

    <p style="margin-top: 30px">Payment Information</p>
      <div class="box">
        <div class="content">
            <div class="input-group mb-3">
            <span class="input-group-text">
                <img src="/imgs/mpesalogo.png" alt="MPESA Logo" height="20">
            </span>
            <input type="tel" class="form-control" placeholder="MPESA Phone Number" name="mpesaPhoneNumber" aria-label="MPESA Phone Number" aria-describedby="mpesa-logo">
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
    <p>Order Summary</p>
      <div class="box full-height">
        <div class="content">
         <ul class="list-group mb-3">
            {{#each items}}
            <li class="list-group-item d-flex flex-column  justify-content-between align-items-start align-items-sm-center">
            <div class="d-flex justify-content-between align-items-start align-items-sm-center w-100 mb-2 mb-sm-0">
            <div style="margin-right:10em; width:100%">
                <h5>{{this.productName}}</h5>
            </div>
            </div>
            <div class="d-flex justify-content-between align-items-center w-100">
            <div><p>Quantity: {{this.quantity}}</p>
            </div>
            <strong class="item-total">{{this.total}}</strong>
            </div>
        </li>
        {{/each}}
        <li class="list-group-item d-flex justify-content-between">
             <h5>Total (KSH)</h5>
            <strong id="cartTotal" >{{cartTotal}}</strong>
            <input type="hidden" name="cartTotal" value="{{cartTotal}}">

        </li>
        </ul>        
        <br>
        <button class="w-100 btn btn-primary btn-lg" type="submit">Place Order</button>
        </div>
      </div>
    </div>
  </div>
</form>
    
</body>
</html>